{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New page</h1>
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <label>Title</label>
        <br/>
        <input type="text" name="title" placeholder="enter a title for the entry">
        <br/>
        <label>Content</label>
        <textarea name="content"></textarea>
        <br/>
        <input type="submit" value="New Page" class="btn btn-primary">
    </form>
{% endblock %}